#region License
/*
    This file is part of Sarcasm.

    Copyright 2012-2013 Dávid Németi

    Sarcasm is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Sarcasm is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Sarcasm.  If not, see <http://www.gnu.org/licenses/>.
*/
#endregion

<#@ template debug="true" hostSpecific="true" language="C#" #>
<#@ output extension="generated.cs" #>
<#@ assembly Name="System.Core" #>
<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Diagnostics" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Collections.Generic" #> 

extern alias globalMiniPL;

using System;
using System.IO;
using System.Linq;
using Microsoft.VisualStudio.TestTools.UnitTesting;

using Irony;
using Irony.Ast;
using Irony.Parsing;
using Sarcasm;
using Sarcasm.GrammarAst;
using Sarcasm.Unparsing;

using globalMiniPL::MiniPL.DomainDefinitions;

using Grammar = Sarcasm.GrammarAst.Grammar;

namespace Sarcasm.UnitTest
{
    public partial class UnparserTest
    {
<#
	string testFileDirPath = Host.ResolvePath(@"..\Test files");
    foreach (string filePath in Directory.GetFiles(testFileDirPath))
    {
        GenerateTestMethod(filePath, typesafe: true, leftToRight: true, enableParallelProcessing: false);
        GenerateTestMethod(filePath, typesafe: false, leftToRight: true, enableParallelProcessing: false);
        GenerateTestMethod(filePath, typesafe: true, leftToRight: false, enableParallelProcessing: false);

        GenerateTestMethod(filePath, typesafe: true, leftToRight: true, enableParallelProcessing: true);
        GenerateTestMethod(filePath, typesafe: false, leftToRight: true, enableParallelProcessing: true);
        GenerateTestMethod(filePath, typesafe: true, leftToRight: false, enableParallelProcessing: true);
    }
#>
	}
}

<#+
void GenerateTestMethod(string filePath, bool typesafe, bool leftToRight, bool enableParallelProcessing)
{
    string extension = Path.GetExtension(filePath);
    string filename = Path.GetFileName(filePath);

    string reunparseTestMethodName = "Unparse_" + Path.GetFileNameWithoutExtension(filePath);
    reunparseTestMethodName += enableParallelProcessing ? "_Parallel" : "_Sequential";
    if (typesafe) reunparseTestMethodName += "_Typesafe";
    if (!leftToRight) reunparseTestMethodName += "_Reversed";

    string reunparseMethodName = "ReunparseCheck";
    if (typesafe) reunparseMethodName += "TS";

    string root;

    if (extension == ".mplp")
        root = "B.Program";
    else if (extension == ".expr")
        root = "B.Expression";
    else
        throw new ApplicationException(string.Format("Unknown file extension: \"{0}\"", extension));
#>
        [TestMethod]
        [TestCategory(category)]
        public void <#= reunparseTestMethodName #>()
        {
<#+
        GenerateInitializerForUnparser(filePath, enableParallelProcessing);
#>
            <#= reunparseMethodName #>(<#= root #>, "<#= filename #>", leftToRight: <#= leftToRight ? "true" : "false" #>);
        }

<#+
}

void GenerateInitializerForUnparser(string filePath, bool enableParallelProcessing)
{
        string formatter;

        if (Path.GetFileNameWithoutExtension(filePath) == "MiniPL2")
            formatter = "formatter2";
        else if (Path.GetFileNameWithoutExtension(filePath) == "MiniPL3")
            formatter = "formatter3";
        else
            formatter = "formatterDefault";
#>
            unparser.Formatter = <#= formatter #>;
            unparser.EnableParallelProcessing = <#= enableParallelProcessing.ToString().ToLower() #>;
<#+
}
#>
